In [1]:
import numpy as np
import pandas as pd
import csv
import advertools as adv
import nltk
import string
import re

In [2]:
df = pd.read_csv("Preprocessed tagalog.csv")
df

     score                                          col_lemma
0        1  ['uy', 'gagi', 'wag', 'kang', 'magpaniwala', '...
1        2  ['marcos', 'duterte', 'pinag', 'parehong', 'tu...
2        2  ['malinaw', 'malinaw', 'malinaw', 'pinapatagal...
3        1  ['marcos', 'magiging', 'bayani', 'basahin', 'b...
4        2  ['', 'neveragaintomartiallaw', 'resist', 'reha...
...    ...                                                ...
2355     1  ['bobong', 'marcos', 'cant', 'even', 'admit', ...
2356     1        ['sofa', 'yung', 'presidency', 'stomoyern']
2357     1  ['parang', 'di', 'presidency', 'pinaguusapan',...
2358     1  ['presidency', 'occupation', 'essence', 'terro...
2359     1  ['mo', 'respetuhin', 'yung', 'choice', 'mo', '...

[2360 rows x 2 columns]

In [3]:
def depure_data(df):

    #Removing URLs with a regular expression
    url_pattern = re.compile(r'https?://\S+|www.\S+')
    df = url_pattern.sub(r'', df)

    # Remove Emails
    df = re.sub('\S@\S\s?', '', df)

    # Remove new line characters
    df = re.sub('\s+', ' ', df)

    # Remove distracting single quotes
    df = re.sub("'", "", df)
    
    #Remove @ tags (mentions)
    df = re.sub(r'@[A-Za-z0-9]+','',df)

    #Remove hashtags
    #df = re.sub("[^a-zA-Z]", " ", df)

    #Remove non-alphanumeric characters
    df = re.sub("[^a-z0-9]"," ", df)

    return df

df['text'] = df['col_lemma'].apply(lambda x: depure_data(x))
df

,score,col_lemma,text
0,1,"['uy', 'gagi', 'wag', 'kang', 'magpaniwala', '...",uy gagi wag kang magpaniwala haka hakan...
1,2,"['marcos', 'duterte', 'pinag', 'parehong', 'tu...",marcos duterte pinag parehong tuta dikta...
2,2,"['malinaw', 'malinaw', 'malinaw', 'pinapatagal...",malinaw malinaw malinaw pinapatagal pande...
3,1,"['marcos', 'magiging', 'bayani', 'basahin', 'b...",marcos magiging bayani basahin buong pah...
4,2,"['', 'neveragaintomartiallaw', 'resist', 'reha...",neveragaintomartiallaw resist rehabilitat...
...,...,...,...
2355,1,"['bobong', 'marcos', 'cant', 'even', 'admit', ...",bobong marcos cant even admit fault fam...
2356,1,"['sofa', 'yung', 'presidency', 'stomoyern']",sofa yung presidency stomoyern
2357,1,"['parang', 'di', 'presidency', 'pinaguusapan',...",parang di presidency pinaguusapan pleek
2358,1,"['presidency', 'occupation', 'essence', 'terro...",presidency occupation essence terrorism
2359,1,"['mo', 'respetuhin', 'yung', 'choice', 'mo', '...",mo respetuhin yung choice mo iboboto mo...

In [4]:
cleaned_df = df.drop(['col_lemma'], axis=1)
cleaned_df

     score                                               text
0        1   uy  gagi  wag  kang  magpaniwala  haka  hakan...
1        2   marcos  duterte  pinag  parehong  tuta  dikta...
2        2   malinaw  malinaw  malinaw  pinapatagal  pande...
3        1   marcos  magiging  bayani  basahin  buong  pah...
4        2     neveragaintomartiallaw  resist  rehabilitat...
...    ...                                                ...
2355     1   bobong  marcos  cant  even  admit  fault  fam...
2356     1                 sofa  yung  presidency  stomoyern
2357     1     parang  di  presidency  pinaguusapan  pleek
2358     1      presidency  occupation  essence  terrorism
2359     1   mo  respetuhin  yung  choice  mo  iboboto  mo...

[2360 rows x 2 columns]

In [5]:
cleaned_df.to_csv(r"unlistedTagalog.csv", index = False)

In [6]:
df1 = pd.read_csv("Preprocessed english.csv")
df1

     score                                          col_lemma
0        1  ['rip', 'pang', 'lakad', 'damit', 'lang', 'pan...
1        2  ['ever', 'since', 'rise', 'fall', 'dictator', ...
2        2  ['ika', 'apatnaput', 'siyam', 'taon', 'nang', ...
3        1  ['', 'neverforget', 'neveragain', 'oustduterte...
4        2  ['uy', 'gagi', 'wag', 'mong', 'palampasin', 'a...
...    ...                                                ...
3205     1  ['', 'romeo', 'nasapol', 'mo', 'isko', 'galing...
3206     1  ['', 'dati', 'daw', 'yang', 'rebelde', 'noong'...
3207     1  ['help', 'slow', 'spread', 'covid19', 'identif...
3208     1  ['', 'emotionally', 'tough', 'see', 'patient',...
3209     1  ['vaccine', 'used', 'southafrica', 'tested', '...

[3210 rows x 2 columns]

In [7]:
def depure_data(df1):

    #Removing URLs with a regular expression
    url_pattern = re.compile(r'https?://\S+|www.\S+')
    df1 = url_pattern.sub(r'', df1)

    # Remove Emails
    df1 = re.sub('\S@\S\s?', '', df1)

    # Remove new line characters
    df1 = re.sub('\s+', ' ', df1)

    # Remove distracting single quotes
    df1 = re.sub("'", "", df1)
    
    #Remove @ tags (mentions)
    df1 = re.sub(r'@[A-Za-z0-9]+','',df1)

    #Remove hashtags
    #df = re.sub("[^a-zA-Z]", " ", df)

    #Remove non-alphanumeric characters
    df1 = re.sub("[^a-z0-9]"," ", df1)

    return df1

df1['text'] = df1['col_lemma'].apply(lambda x1: depure_data(x1))
df1

,score,col_lemma,text
0,1,"['rip', 'pang', 'lakad', 'damit', 'lang', 'pan...",rip pang lakad damit lang pang bahay o...
1,2,"['ever', 'since', 'rise', 'fall', 'dictator', ...",ever since rise fall dictator ferdinand ...
2,2,"['ika', 'apatnaput', 'siyam', 'taon', 'nang', ...",ika apatnaput siyam taon nang ipinataw ...
3,1,"['', 'neverforget', 'neveragain', 'oustduterte...",neverforget neveragain oustduterte impea...
4,2,"['uy', 'gagi', 'wag', 'mong', 'palampasin', 'a...",uy gagi wag mong palampasin araw upang ...
...,...,...,...
3205,1,"['', 'romeo', 'nasapol', 'mo', 'isko', 'galing...",romeo nasapol mo isko galing medyo ta...
3206,1,"['', 'dati', 'daw', 'yang', 'rebelde', 'noong'...",dati daw yang rebelde noong martial l...
3207,1,"['help', 'slow', 'spread', 'covid19', 'identif...",help slow spread covid19 identify risk ...
3208,1,"['', 'emotionally', 'tough', 'see', 'patient',...",emotionally tough see patient fighting ...
3209,1,"['vaccine', 'used', 'southafrica', 'tested', '...",vaccine used southafrica tested approved ...

In [8]:
cleaned_df1 = df1.drop(['col_lemma'], axis=1)
cleaned_df1

     score                                               text
0        1   rip  pang  lakad  damit  lang  pang  bahay  o...
1        2   ever  since  rise  fall  dictator  ferdinand ...
2        2   ika  apatnaput  siyam  taon  nang  ipinataw  ...
3        1     neverforget  neveragain  oustduterte  impea...
4        2   uy  gagi  wag  mong  palampasin  araw  upang ...
...    ...                                                ...
3205     1     romeo  nasapol  mo  isko  galing  medyo  ta...
3206     1     dati  daw  yang  rebelde  noong  martial  l...
3207     1   help  slow  spread  covid19  identify  risk  ...
3208     1     emotionally  tough  see  patient  fighting ...
3209     1   vaccine  used  southafrica  tested  approved ...

[3210 rows x 2 columns]

In [9]:
cleaned_df1.to_csv(r"unlistedEnglish.csv", index = False)